<div class="panel panel-default">
    <div class="panel-heading"><h3>{{vm.pageTitle}}</h3></div>
    <div class="panel-body">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>skill</th>
                    <th>level</th>
                    <th>description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-ng-init="vm.initList()">
                <tr data-ng-repeat="skill in vm.skills">
                    <td>{{skill.name}}</td>
                    <td>{{skill.level}}</td>
                    <td>{{skill.description}}</td>
                    <td class="text-right">
                        <a href="/#/skills/{{skill._id}}" class="btn btn-xs btn-info">view</a>
                        <a href="/#/skills/update/{{skill._id}}" class="btn btn-xs btn-primary">update</a>
                        <button data-ng-click="vm.remove(skill)" class="btn btn-xs btn-danger">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<a href="#/skills/create" class="btn btn-primary btn-block">Add Skill</a>
